/* Common */
body {
  max-width: 900px;
  margin: 0 auto;
}
/* Common */

/* Header */
.main-header {
  border-bottom: 1px solid grey;
  padding-top: 3rem;
  display:flex;
  justify-content: space-between;
}

.main-header h3 {
  display: inline-block;
  margin-top: 0;
  
   
}

.top-nav a {
  color: grey;
  display: inline-block;
  text-decoration: none;
  padding-left: 3rem;
  text-transform: uppercase;
  
  
}
/* Header */

.side-menu {
  display: flex;
  flex-direction: column;
  flex-basis:10rem;
  flex-grow:0;
  flex-shrink: 0;
  
}

.side-menu a{
  text-decoration: none;
  color: grey;
  padding-top: 1rem;
}

figure {
  text-align: center;
}

figure img {
  width: 90%;
}

figcaption {
  color: grey;
}

p {
  line-height: 1.5;
  text-align: justify;
}

.container{
  display:flex;
}