body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #6666ff;
    color: white;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.container {
    font-weight: bold;
    margin: 50px auto;
    width: 1000px;
    display: block;
}

.container .box {
    font-size: 2em;
    padding: 80px 90px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: #379bfd;
    border: 3px solid white;
    color: white;
    display: inline-block;
}

.container div {
    float: left;
}

.container.container-2 div {
    float: right;
}

.container.static {
    float: none;
}