/*.btn-outline-primary {
    color:olive;
    border-color:olive;
}

.btn-outline-primary:hover {
    color: aqua;
    background-color: pink;
    border-color:pink;
}*/

.my-class{
    color:olive;
    background-color: navy;
    border-color:navy;
}
