/*header*/

.jumbotron{
	background-color:transparent;
	color:white;
	letter-spacing:0.07rem;
}
/*header*/

/*buttons*/

.top-button{
background-color:rgb(218,21,88);
color:white;
padding:.375rem 1.75rem;
margin-right: 1rem;
border-radius: 1rem;
}
.top-outline-button {
	border: 1px solid rgb(218,21,88);
	color:rgb(218,21,88);
	font-weight:bold;
	background-color: white;
	padding:.375rem 1.75rem;
	margin-right:1rem;
	border-radius:1rem;

}

body,html{
	height:100%
}

/*buttons*/

/*The hero image*/
.hero-image{
	background-image:"img/hero-photo.png";
	height:100%;
	margin:0;
	padding:0;
	max-width:100%;

/* Position & center image*/
background-position:center;
background-image:no-repeat;
background-size: cover;
position:relative;
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 100%;

}

.hero-text{
	text-align:left;
	position:absolute;
	top:35%;
	left:38%;
	transform: translate(-50%,-50%);
	font:arial bold;
	color:white;
}


/*plans*/
.wrapper{
	position:center;
	padding-left: 150px;
	padding-right: 80px;
	margin-left:auto;
	margin-right:auto;
}

/*subscribe button*/
.subscribe{
background-color:rgb(218,21,88);
color:white;
padding:.375rem 1.75rem;
margin-right: 1rem;
border-radius: 1rem;
}
.jumbotron {
	padding:0;
}

.column {
	float:left;
	width:33.33%;
}
/*subscribe button*/

/*text*/
.music-text{
	text-align: center;
}
/*text*/
.jukebox-promo-title{
	color: rgb(51,151,249);
}

.jukebox-promo-desc{
	color:lightgray;
}
.pricing-plan{
	border-radius:10px;
	max-width:280px;
		
}
.pricing-plan1{
	background-color: rgb(51,151,249);	
}

.pricing-plan2{
	background-color: rgb(80,105,232);
	
}

.pricing-plan3 {
	background-color:rgb(121,57,207);
	
}

.btn.my-btn{
	border-radius: 15px;
	color: white;

}

.pricing-btn-outline{
	border-color: white;
}
.container{
	display: flex;
	justify-content: space-evenly;
}


/*album-text*/
.album-text{
	text-align: center;
}
h2{
	color: rgb(51,151,249)
}
/*album-text*/

/*albums*/
.container{
	margin:0 auto;
	max-width:1200px;
	padding:0 1rem;
}

.responsive-image{
	max-width:80%;
}

.album img{
	display:block;
}

@media screen and (min-width:600px){
.grid{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
}
.album{
	width:50%
}
}

@media screen and (min-width:100px){
	.album{
		width:calc(100%/3);
	}
}
.album{
	margin:1rem;
}

@media screen and (min-width:600px){
.album{
	width:calc(100%/3);
}
}

@media screen and (min-width:1000px){
	.album{
		width:calc(33.3333%-2rem);
	}
}
/*albums*/


.footer-container{
	background-color: rgb(51,151,249);
}

.jukebox-footer{
	background-color: rgb(51,151,249);
}

.jukebox-promo-title{
	text-align: center;
}

.jukebox-promo-desc{
	text-align: center;
}

.about-photo {
	background:url("../img/about-photo.png") repeat-x top left;
	background-size: cover;
	padding:15% 10%;
}

.features-card-title{
	color:white;
	font-size:1.875em;
}

.features-card-description{
	color:white;
	font-size:1.125em;
}