
.col-centered {
    display:inline-block;
    float:none;

    text-align:centre;
    margin-right:-4px;
}

.col-fixed {
    width:320px;
}
body{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 5rem;

}
/*Header*/

.top-header{
border-bottom: 1px solid grey;
padding-top:3rem;
}
.top-header h3{
    display:inline-block
    margin-top:0;
}
.top-nav{
    float:right;
}

.top-nav a{
    color: grey;
    display:inline-block;
    padding-left:2rem;
    text-decoration: none;
    
}
.left-menu{
    float:left;
    width:200px;
}

.left-menu a{
    display:block;
    color:grey;
    padding-top:1.5rem;
    text-decoration:none;
}

main{
    float: right;
    width: calc(100% - 250px);
}

figure{
    text-align: center;
}


figure img{
    width: 90%;
}

p{
    line-height: 1.5;
    text-align: justify;
}