body {
    background: lightblue;
}

.special-heading{
    color:rgb(125,255,120);
    margin-left: 20px;
}

h2{
    color:brown;
}

@media(max-width:500px)
{
    body {
        background-color: coral;
    }     
}
    #test-heading{
        color:gold;
    }